/* Section principale */
.a-propos-main {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}

.a-propos-main h1 {
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.a-propos-main p {
  color: #f9f8ff;
  margin-bottom: 20px;
}

.a-propos-main ul {
  margin-bottom: 20px;
}

.a-propos-main li {
  list-style-type: disc;
  margin-left: 20px;
}

.a-propos-main .cta {
  margin-top: 20px;
}

/* Media Queries pour les petits écrans */
@media screen and (max-width: 996px) {
  .a-propos-main {
    padding: 20px;
  }
}