/* Section des photos */
.portfolio-section-photos {
  background-color: white;
  padding: 50px;
}

.portfolio-section-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 50px;
}

.grid-paysages,
.grid-portraits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Media Queries pour les petits écrans */
@media screen and (max-width: 996px) {
  .portfolio-section-photos {
    padding: 20px;
  }
}